.nav-bar {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row-reverse;
}

.nav-bar>* {
  margin-left: 15px;
}

.content {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content>* {
  margin-bottom: 20px;
}

.row {
  /* border: 1px solid green; */
  display: flex;
}

.row>button {
  margin-left: 15px;
}

.logo {
  margin-top: 200px;
}

div {
  display: block;
}

#buscar{
  border-radius: 1rem;
  border-color: rgb(224, 215, 215);
  width: 500px;
  height: 40px;
  border-style:solid;
}

.under{
   text-decoration: none;
}

#btn1,#btn2{
  border-radius: 2px;
  background-color: #f8f9fa;
}
