body {
  font-family: arial,sans-serif;
}

.nav-bar {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row-reverse;
}

.nav-bar > * {
  margin-left: 15px;
}

.content {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > * {
  margin-bottom: 20px;
}

.row {
  /* border: 1px solid green; */
  display: flex;
}

.row > button {
  margin-left: 15px;
}

.logo {
  margin-top: 200px;
}

.search {
  background: transparent;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 500px;
  height: 44px;
  padding: 0 20px;
  font-size: 15px;
}

.search:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.search:focus {
  border: 1px solid #dfe1e5;
  outline: none !important;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.nav-bar .link {
  margin: 11px 4px;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,0.87);
  font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

.info-google {
  color: #3c4043;
  font-size: small;
  margin-bottom: 24px;
}

.without-underline {
  text-decoration: none;
}

.without-underline:hover {
  text-decoration: underline;
}